/* Основа */
body {
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 100px;
}

/* Стили таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
    border: 1px solid #000;
}

th {
    background: #1e4592;
    color: #fff;
}

tbody tr:hover {
    color: #1e4592;
}

table {
    display: none;
}

/* Карты специальности */

@media (max-width: 400px) {
    .wrapper {
        max-width: 360px;
    }


}

.proff--card {
    position: relative;
    margin: 0 auto;
    width: 289px;
    height: 80px;
    border-radius: 8px;
    background: linear-gradient(180deg, #1E4592 0%, #4065C1 100%);
    transition: height 0.3s ease, margin-bottom 0.7s ease;
    margin-bottom: -80px;
}

.proff-card-anim {
    margin-bottom: 20px;
}

.proff--card-active {
    height: 135px;
    transition: height 0.3s ease;
}

.card--inner {
    position: relative;
    padding: 10px 16px 15px 16px;
}

.card--titles {
    display: flex;
    justify-content: space-between;
}

.card--title {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    margin-bottom: 13px;
}

.card--subtitle {
    margin-bottom: 15px;
}

/* **********************************more--info************************************** */

.more--info {
    display: none;
}

.block--pdf {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
}

.pdf--file {
    width: 30px;
    height: 20px;
    border-radius: 4px;
    background-color: #fff;
    /* background-image: url(../img/PDFicon.svg);
    background-repeat: no-repeat; */
}

.more--info-active {
    display: block;
}
