/* Основа */
body {
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 100px;
}

/* Стили таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
    border: 1px solid #000;
}

th {
    background: #1e4592;
    color: #fff;
}

tbody tr:hover {
    color: #1e4592;
}

table {
    display: none;
}

/* Карты специальности */

@media (max-width: 400px) {
    .wrapper {
        max-width: 360px;
    }
}

.proff--card {
    position: relative;
    margin: 0 auto;
    width: 289px;
    height: 85px;
    border-radius: 8px;
    background: linear-gradient(180deg, #1E4592 0%, #4065C1 100%);
    transition: 0.7s ease;
    margin-bottom: -85px;
}

.proff--card-hover {
    transform: scale(0.95);
}

.proff--card-active {
    height: 150px;
}

.proff-card-anim {
    margin-bottom: 20px;
}

.card--inner {
    padding: 10px 16px 15px 16px;
    padding-bottom: 0;
}

.card--titles {
    display: flex;
    justify-content: space-between;
}

.card--title {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    margin-bottom: 13px;
}
